<?xml version="1.0" encoding="UTF-8"?>
<Context>
  <Resource name="jdbc/master" auth="Container" type="javax.sql.DataSource"
    driverClassName="org.postgresql.Driver" url="jdbc:postgresql://ads-portus-db/portus?loginTimeout=5"
    username="portus" password="portus" maxActive="40" maxIdle="20" maxWait="10000"
    validationQuery="SELECT version()" />
  <Manager pathname="" />
</Context>
